<div class="charts-container">
  <!-- Gráfico de Hora de Acostarse -->
  <div class="chart">
    <h3 class="title">Horario promedio de Acostarse</h3>
    <canvas *ngIf="sleepTimesSubject.length > 0" baseChart
            [data]="sleepTimeChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>

  <!-- Gráfico de Hora de Despertar -->
  <div class="chart">
    <h3 class="title">Horario promedio de Despertarse</h3>
    <canvas *ngIf="wakeUpTimesSubject.length > 0" baseChart
            [data]="wakeUpTimeChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>
</div>
