.app-usage-container {
  padding: 1rem 1.5rem;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  //background-color: transparent;
  //border-radius: 12px;
  //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.app-usage-container .title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 0.5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-left: 50px;
}

.titleApp {
  font-size: 1.1rem;
  color: #007acc;
  margin-bottom: 0.25rem;
}

.stat-card {
  background: #fefefe;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 120px;
  text-align: center;

  h3 {
    font-size: 1.1rem;
    color: #007acc;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 1rem;
    color: #222;
    margin: 0;
  }
}

.podium-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .podium {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: flex-end;

    .podium-item {
      background-color: #f0f0f0;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      min-width: 70px;
      transition: transform 0.2s ease;

      .medal {
        font-size: 2rem;
        display: block;
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
        font-size: 1.1rem;
        color: #333;
      }

      &.gold {
        background-color: #ffe082;
        transform: scale(1.1);
      }

      &.silver {
        background-color: #e0e0e0;
      }

      &.bronze {
        background-color: #ffcc80;
      }
    }
  }
}
