<div class="location-container">
  <!--h2 class="title">Alcance Geográfico</h2-->

  <div class="location-section">
    <div class="location-card">
      <h3>Países alcanzados</h3>
      <ul>
        <li *ngFor="let country of countries">
          🌍 {{ country }}
        </li>
      </ul>
    </div>

    <div class="location-card">
      <h3>Estados/Regiones alcanzadas</h3>
      <ul>
        <li *ngFor="let state of states">
          📍 {{ state }}
        </li>
      </ul>
    </div>
  </div>
</div>