<div class="header-scroll">
    <div class="header-card" *ngIf="totalUsers !== undefined">
      <span class="label">Usuarios Totales Registrados</span>
      <span class="value">{{ totalUsers }}</span>
    </div>
    <div class="header-card">
      <span class="label">Usuarios Activos</span>
      <span class="value">{{ activeUsers }}</span>
    </div>
    <div class="header-card">
      <span class="label">Formularios totales Recopilados</span>
      <span class="value">{{ totalRecords }}</span>
    </div>
  </div>
  