<div class="mod-stats-container">
  <h2 class="title">Estadísticas Globales del Estado de Ánimo</h2>

  <div class="charts-container" *ngIf="isBrowser">
    <div class="chart" *ngFor="let key of ['sadness', 'anxiety', 'happiness', 'energy', 'apathy']">
      <div class="chart-header">
        <h3>{{ key | titlecase }} de los Usuarios</h3>
      </div>
      
      <canvas baseChart
              [data]="chartConfigs[key]?.data"
              [options]="chartConfigs[key]?.options"
              [type]="'bar'">
      </canvas>

      <div class="stats-summary">
        <div class="stat-item">
          <strong>Promedio</strong>
          <p>{{ chartConfigs[key]?.average | number:'1.2-2' }}</p>
        </div>
        <div class="stat-item">
          <strong>Mínimo</strong>
          <p>{{ chartConfigs[key]?.min }}</p>
        </div>
        <div class="stat-item">
          <strong>Máximo</strong>
          <p>{{ chartConfigs[key]?.max }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
