<div class="dashboard-actions">
  <button class="download-btn" (click)="downloadExcel()">Descargar Excel de Datos</button>
</div>
<div class="dashboard-img">
  <img src="../../../../assets/plataforma_one_health_cover.png" alt="OneHealth">
</div>

<app-header-cards></app-header-cards>



<section class="dashboard-grid">
  <app-location-stadistics></app-location-stadistics>
  <app-mod></app-mod>
  <app-global-sleep-stats></app-global-sleep-stats>
  <app-app-usage></app-app-usage>
</section>
<!--app-biometrics></app-biometrics>-->
<!--app-health-predictions></app-health-predictions-->
<!--app-anxiety-levels></app-anxiety-levels-->